html, body{
    margin:0;
    padding:0;
}

#form{
    display:flex;
    justify-content:center;
    width:100%;
    margin:auto;
    background-color:pink;
}

#results, #list{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

#productive_results, .productive{
    color:green;
}

#unproductive_results, .unproductive{
    color:red;
}